.banner{
    width: 100%;
    min-height: 40vh;
    flex: 1;
    background-color: #333;
    border-radius: 1rem;
    padding: 3rem;
}
.banner{
    background-image: url('../imgs/bg-banner.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;    
}


.banner h1{
    width: 50rem;
    background-color: #111;
    font-size:3rem;
    color: #fff;
    font-weight: 600;
    padding: 2rem;
    border-radius: 1rem 1rem 0px 0px;
    text-transform: uppercase;
   
}
.banner p{
    width: 50rem;
    background-color: brown;
    color: #eee;
    padding: 1rem;
    font-size: 1.3rem;
  
}
@media (max-width: 768px) {
    .banner{
        background: transparent;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
        padding: 0;
    }   
    .banner h1, .banner p{
        width: 100%;
        padding: 1rem;
        text-align: center;

    }
    .banner h1{       
        font-size: 3.3rem;
    }
    
}
@media (max-width: 425px){
    .banner{
        padding: 1rem;
        background-color: #111;
    }
    .banner h1{           
        font-size: 2.5rem;
        letter-spacing: 1.5;
        padding: 0 0 .3rem 0; 
        background-color: transparent;              
    }
    .banner p{            
        font-size: 1.4rem;
        background-color: transparent;
        color: yellow;
                     
    }
    
}