main{
    width: 100%;
    min-height: 100vh;
    flex: 1;
    background-color: #222;
    padding: 3rem;    
    color: #eee;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.content-main{
    display: flex;
    min-height: 60vh;
    padding-bottom: 3rem;
    gap: 2rem;
}
.informaçoes{
    width: 100%;
    flex: 1;
    background-color: #333;
    padding: 3rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    flex-wrap: wrap;
    align-content: flex-start;
}
.section-title h2{
    display: block;
    width: 100%;
    flex: 1;
    margin-bottom: 2rem;
}
.info-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
   
}
.formularios{
    width: 100%;    
    flex: 1;
    background-color: #333;
    padding: 3rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    text-align: center;
}
.formularios h2{
    font-size: 3rem;

}
.formularios .descrition{
    width: 100%;
    padding: 1rem;
    background-color: #222;
    color: #fff;
    margin-top: 2rem;
    font-size: 2rem;
}
.formularios .descrition strong{
    color: rgb(171, 171, 9);
    font-size: 2rem;
}

@media (max-width:768px) {
    main{
        width: 100%;       
        
    }
    .content-main{
        flex-direction: column;
        gap: 0;
    }
    .section-title h2{
        display: block;
        width: 100%;
        flex: 1;
        margin-bottom: 2rem;
        text-align: center;
    }
    .info-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 2rem;
        gap: 2rem;
    }
    
    
}
@media (max-width:425px){
    .info-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 2rem;        
    }
    .section-title h2{
        display: block;
        width: 100%;
        flex: 1;
        margin-bottom: 2rem;
        text-align: center;
    }
    .formularios .descrition{        
        margin-top: 2rem;
        
    }
    .formularios .descrition strong{
        color: rgb(171, 171, 9);
        font-size: 2rem;
    }
}