footer{ 
    width: 100%;
    min-height: 50px;    
    background-color: #333;
    color: #eee;   
    padding: 14px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.footer-content{
    font-size: 16px;
}
.social-icons{
    font-size: 12px;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 20px;   
}
.social-icons a{
    color: #eee;
    font-size: 22px;
}

@media (max-width:768px) {
   footer{
    flex-direction: column;
    gap: 10px;
    text-align: center;   
    align-items: center;
   
   }
   .footer-content{
    font-size: 12px;
   }
   .social-icons{
    gap: 8px;
   }
   .social-icons a{
    font-size: 16px;
   }
    
}