header{
    background-color: #1f1f1f;
}
header .container{
    padding: 3rem 0;
    display: flex;
    align-items: center;
    gap: 5rem;
}
.logo a{
    color: #eee;
    text-decoration: none;
}
.logo h1{
    font-size: 3.2rem;
    text-transform: uppercase;
}
.logo p{
    font-size: 1.2rem;
    color: #999;
    background-color: #111;
    padding: .4rem;
    text-align: center;    
}
header nav{
    flex: 1;
    display: flex;
    
}
header .header-esq{
    display: flex;
    flex: 1;
}
header nav li{
    list-style: none;
    margin-left: 3rem;
}
header nav li a{
    color: #999;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .3s;
}
header nav li .active{
    color: #c8462d;
}
header nav li a:hover,
header nav li .active:hover{
    color: #c8462d;
}
.name-user{
    margin-right: 1rem;
}
.name-user p a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    opacity: .8;
    transition: all .3s;
}
.name-user p a:hover{
    opacity: 1;

}
.btn-logout{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: .4rem;   
    padding: 0 1rem;    
    color: #999;
    border-radius: .5rem;
    transition: all .3s;
    border: .1rem solid #555;
}
.btn-logout:hover{
    background-color: #fff;
    color: #111;
}
.hero{
    background-color: #eee;
}
.hero .container{
    display: flex;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}
.hero .hero-esq,
.hero .hero-dir{
    flex: 1;

}
.hero .hero-esq{
    margin-bottom: 4rem;
}
.hero .hero-esq h2{
    margin-top: 6rem;
    font-size: 5rem;
    text-transform: uppercase;
    color: #111;
    font-weight: 700;
}
.hero .hero-esq p{
    margin: 6rem 0;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #141414;
}
.hero .hero-dir{
    text-align: center;
}
.hero .hero-dir p i{
    font-size: 40rem;
    color: #c8462d;
}
.hero .btn-hero{
    padding: 2rem 6rem;
    border: .2rem solid #c8462d;
    color: #c8462d;
    border-radius: 999rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    opacity: .8;
    transition: all .3s;
    text-transform: capitalize;
    box-shadow:  0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.hero .btn-hero:hover{
    opacity: 1;
    background-color: #c8462d;
    color: #fff;
}

.escalas-grids{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    gap: 2rem;
}
.escala-item{
    overflow: hidden;
    border-radius: .5rem;
    background-color: #222;
    padding: 2rem;
    position: relative;
    color: #999;
    cursor: pointer;
    transition: all .3s ease-in-out;
    opacity: .8;    
}
.escala-item:hover{
    opacity: 1;
}
.escala-item:hover .btn-editar{
    visibility: visible;
}

.btn-editar{
    visibility: hidden;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    background-color: #046638;;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow:  0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.btn-editar i{
    color: #fff;
    font-size: 1.4rem;
}
.aviso{
    position: absolute;
    top: 3rem;
    left: 3rem;    
    color: #141414;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    box-shadow:  0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.aviso.sucesso{
    background-color: rgb(2, 70, 23);
    color: #fff;
}
.aviso.nopago{
    background-color: rgb(99, 7, 7);
    color: #fff;
}

.photo{
    text-align: center;
    margin-bottom: 1rem;
    
}
.photo img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: .5rem;
    box-shadow:  0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
    
}
.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info-text{
    display: flex;
    flex-direction: column;
}
.info-text h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: #eee;
    
}
.info-text p{
    font-size: 1.4rem;
    text-transform: capitalize;
}
.info-dias{
    display: flex;
    flex-wrap: wrap;
    background-color: #c8462d;
    border-radius: .5rem;
    padding: 2rem;
    gap: .5rem;
}
.info-dias span{
    display: inline-block;
    background-color:#fde635;
    color: #141414;
    padding: .6rem;
    border-radius: .5rem;
    
}
.info-valores{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.info-valores p{
    flex: 1;
    font-size: 1.4rem;
    text-transform: capitalize;
}
.info-valores p strong{
    font-weight: 700;
    color: #fde635;
}

footer{
    background-color: #1f1f1f;
}
footer .container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .logo p{
    width: 20rem;

}
footer .copyright p{
    font-size: 1.8rem;
    color: #999;
}
footer .copyright p a{
    margin-left: .5rem;
    text-decoration: none;
    color: #fde635;
}