
header{
    width: 30rem;
    min-height: 100vh;
    background-color: #111;
    padding: 3rem;
    color: #eee;
    display: flex;
    flex-direction: column;
    padding: 1.6rem 3rem;
}
header .logo{
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;
    gap: 1rem;
}
.logo img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #333;
    object-fit: cover;
    padding: 0.3rem;
}
.title-user{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;

}
header nav{
    display: flex;
    flex-direction: column;
    
}
header nav ul{
    list-style: none;
}
header nav li{
    display: block;       
    padding:1.4rem 0;
}
header nav li:nth-child(4){  
   display: flex;   
   align-items: center;
   position: relative;
   
}
header nav li:nth-child(4) span{
    position: absolute; 
    top: -0.3rem;
    right: 12rem;
    width: 2.3rem;
    height: 2.3rem;    
    border-radius: 50%;
    background-color: #cb0f0f; 
    color: #eee;   
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav li a{
    width: 100%;
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #4d4a4a;
    text-transform: uppercase;
    padding-bottom: 1rem;
    transition: all .8s ease-in-out;
    font-size: 1.6rem;
    
}
header nav li a i{
    margin-right: 1rem;
    font-size: 1.6rem;
    
}
header nav li a:hover{
    color: yellow;
}
header .mobile{
    display: none;
}
@media (max-width:768px) {
    header{
        width: 100%;
        min-height:12rem;
        flex-direction: row;
        justify-content: space-between; 
        align-content: center;
        align-items: center; 
        padding:0 3rem;  
                
    }
    header .logo{
        flex: 1;
        margin-bottom: 0;
    }
    header nav ul{    
        flex: 1; 
        display: flex;       
        flex-direction: row;
    }
    header nav li{
        margin-left: 1rem;
        
    }
    header nav li a{
        font-size: 1.2rem;
        border-bottom: none;
    }
    header nav li:nth-child(4){
        display: none;
    }
    
    
    
}

@media (max-width:425px){
    header{
        width: 100%;
        height: 12rem;
        flex-direction: row;
        justify-content: space-between; 
        align-content: center;
        align-items: center;
        padding: 0 3rem;     
    }
    header .logo{
        flex: 1;
        margin-bottom: 0;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    header nav ul{    
        flex: 1; 
        display: none;       
        flex-direction: row;
    }
    header nav li{
        margin-left: 1rem;
        
    }
    header nav li a{
        font-size: 1.2rem;
        border-bottom: none;
    }
    header nav li:nth-child(4){
        display: none;
    }
    header .mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 3.2rem;
        height: 3.2rem;
        gap: 0.8rem;
    }
    header .mobile:hover{
        cursor: pointer;
       
    }
    header .mobile .bar{
        width: 100%;
        height: 0.3rem;
        background-color: #eee;       
    }
   
    
}